#cart-container {
    overflow-x: auto;
}  
    
    #cart-container table{
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
    white-space: nowrap;
}

#cart-container table thead {
    font-weight: 700;
}

#cart-container table thead td {
    background-color: #3a3a3a;
    color: #fff;
    border: none;
    padding: 6px 0;
}

#cart-container table td {
    border: 1px solid #b6b3b3;
    text-align: center;
}

#cart-container table td:nth-child(1) {
    width: 10vh;
}

#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3) {
    width: 20vh;
    text-align:center;
    white-space: normal;
}

#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6) {
    width: 15vh;
}

#cart-container table tbody img {
    width: 100px;
    height: 80px;
    object-fit: cover;
}

#cart-bottom .coupon>div {
    border: 1px solid #b6b3b3;
}

#cart-bottom .coupon h5,
#cart-bottom .total h5 {
    background-color: #3a3a3a;
    color: #fff;
    border: none;
    padding: 6px 12px;
    font-weight: 700;
}

#cart-bottom .coupon p {
    padding: 0 12px;
}



#cart-bottom .total>div {
    border: 1px solid #b6b3b3
}

#cart-bottom .total div>div {
    padding: 0 12px;

}

#cart-bottom .total h6 {
    color: black;
}

.second-hr {
    background-color: #3a3a3a;
    width: 100%;
    height: 1px;
}

#cart-bottom .butt {
    margin: 0 12px 20px;
    display: flex;
    justify-content: flex-end;
}

.cartForg {
    margin-top: 10vh;
}

.volverAc {
    margin-top: 5vh;
}